@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("GoTo #1", "GoTo1") <br />
        @Html.ActionLink("GoTo #2", "GoTo2") <br />
        @Html.ActionLink("GoTo #3", "GoTo3") <br />
        @Html.ActionLink("GoTo #4", "GoTo4") <br />
        @Html.ActionLink("GoTo #5", "GoTo5") <br />
    </div>
</body>
</html>
