@model _01_MvcModels.Models.User

@{
  ViewBag.Title = "Index";
  Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Данные пользователя</h2>
<div><label>ID:</label>@Html.DisplayFor(m => m.UserId)</div>
<div><label>Имя:</label>@Html.DisplayFor(m => m.FirstName)</div>
<div><label>Фамилия:</label>@Html.DisplayFor(m => m.LastName)</div>
<div><label>Роль:</label>@Html.DisplayFor(m => m.Role)</div>
<br>
<div><label>Город:</label>@Html.DisplayFor(m => m.HomeAddress.City)</div>
<div><label>Страна:</label>@Html.DisplayFor(m => m.HomeAddress.Country)</div>