<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <style>
        div.layout { background-color: lightblue; }
        div.view { border: 1px solid orange; margin: 10px 0; }
    </style>
</head>
    @section Body {
    <div class="view">
        <h2>Названия фруктов</h2>
        @foreach (string fruit in Model)
        {
            <br /><span><b>@fruit</b></span>
        }
    </div>
}

<body>
    @RenderSection("Header")
    <div class="layout">
        Этот текст находится в компоновке
    </div>
    @RenderSection("Body")

    <div class="layout">
        Этот текст находится в компоновке
    </div>
    @RenderSection("Footer")
    <div class="layout">
        Этот текст находится в компоновке
    </div>
</body>
</html>